#studio {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 500px) {
        flex-direction: column;
        img {
            max-height: 300px;
            width: 100%;
            transform: rotate(90deg);
        }
        .about-studio {
            padding-left: 0;
            .numbers {
                justify-content: center;
            }
        }
    }
}

.about-studio {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding-left: 100px;
    p {
        font-family: 'Ropa Sans', sans-serif;
    }
    .numbers {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        h2 {
            font-family: 'Rufina', serif;
            font-size: 140px;
        }
        .number {
            display: flex;
            flex-direction: column;
            width: 270px;
        }
        @media screen and (max-width:1150px) {
            max-width: 300px;
            .number {
                width: 220px;
            }
        }
    }
    .about-studio-text {
        width: 550px;
        font-family: 'Ropa Sans', sans-serif;
        font-size: 35px;
        @media screen and (max-width: 1150px) {
            width: 400px;
        }
        // @media screen and (max-width: 870px) {
        //     width: 250px;
        //     font-size: 30px;
        // }
    }
    @media screen and (max-width: 870px) {
        flex-direction: column;
        padding-left: 50px;
        .numbers {
            max-width: none;
            flex: 1;
        }
        .about-studio-text {
            margin-top: 100px;
            width: 100%;
            flex: 1;
            font-size: 24px;
        }
    }
}